.vardump,
.xdebug-var-dump {
	background-color:#222222;
	color:#dddddd;
	font-size:0.7rem;
	border-radius: 6px;
	padding:0.5rem;
	height: 20rem;
	overflow-y: scroll;
	overflow-x: scroll;
}

.btn-outline-secondary {
	--bs-btn-color: var(--bs-body-color);
}

/* XS */
@media (min-width: 0px) {
	.card-paddings {
		padding: 1rem !important;
		--bs-card-spacer-y: 0.2rem;
		--bs-card-spacer-x: 0.2rem;
	}
}
/* SM */
@media (min-width: 576px) {
	.card-paddings {
		padding: 1rem !important;
		--bs-card-spacer-y: 0.2rem;
		--bs-card-spacer-x: 0.2rem;
	}
}
/* MD */
@media (min-width: 768px) {
	.card-paddings {
		padding: 1rem !important;
		--bs-card-spacer-y: 0.4rem;
		--bs-card-spacer-x: 0.4rem;
	}
}
/* LG */
@media (min-width: 992px) {
	.card-paddings {
		padding: 1rem !important;
		--bs-card-spacer-y: 0.5rem;
		--bs-card-spacer-x: 0.5rem;
	}
}
/* XL */
@media (min-width: 1200px) {
	.card-paddings {
		padding: 1.5rem !important;
		--bs-card-spacer-y: 1rem;
		--bs-card-spacer-x: 1rem;
	}
}
/* XXL */
@media (min-width: 1400px) {
	.card-paddings {
		padding: 1.5rem !important;
		--bs-card-spacer-y: 1rem;
		--bs-card-spacer-x: 1rem;
	}
}

.ml-auto {
	margin-left: auto;
}

.border-red {
	border: 1px solid red;
}

.border-green {
	border: 1px solid green;
}

.toast {
	--bs-toast-spacing: 0.5rem;
}

.table-transparent { --bs-table-bg: transparent !important; }
.table-transparent > :not(caption) > * > * {
	--bs-table-bg: transparent !important;
}

.pointer {
	cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning {
    animation: spin 2s linear infinite;
    display: inline-block;
    pointer-events: none; /* Блокируем взаимодействие с элементом */
    opacity: 0.7;
}

td.disabled>i {
	cursor: default;
	opacity: 0.4;
	color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

i.disabled {
	cursor: default;
	opacity: 0.4;
	color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.invisible {
	opacity: 0% !important;
}

.perm-from-group::before {
	width:0px;
	padding-left:10px;
}

.nav-link {
	color: var(--bs-body-color);
}

.card-paddings {
	border-radius: 1rem;
}

.wrong .bi-check-lg {
    display: none;
}

.good .bi-x-lg {
    display: none;
}

.otp-field {
	flex-direction: row;
	column-gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.otp-field input {
	height: 45px;
	width: 42px;
	border-radius: 6px;
	outline: none;
	font-size: 1.125rem;
	text-align: center;
	border: 1px solid #ddd;
}
.otp-field input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
	display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html.dark table.dataTable>tbody>tr>th.dtr-control:before,html[data-bs-theme=dark] table.dataTable>tbody>tr>th.dtr-control:before {
    border-left-color: rgba(255, 255, 255, 0.5) !important;
}

html.dark table.dataTable>tbody>tr>th.dtr-control.arrow-right::before,html[data-bs-theme=dark] table.dataTable>tbody>tr>th.dtr-control.arrow-right::before {
    border-right-color: rgba(255, 255, 255, 0.5) !important
}